/*

!/.flox/
/.flox/*
!/.flox/env/
!/.flox/pkgs/
!/.flox/env.json

!/.vscode/

!/.env
!/.sops.yaml

!/.gitignore

!/.python-version
!/pyproject.toml
!/uv.lock

!/AGENTS.md
!/README.md
!/docs/
!/scripts/
!/src/
!/tests/

__pycache__/
